[submodule "bundle/mru"]
	path = bundle/mru
	url = http://github.com/vim-scripts/mru.vim.git
[submodule "bundle/fencview"]
	path = bundle/fencview
	url = http://github.com/vim-scripts/FencView.vim.git
