[submodule "bundle/mru"]
	path = bundle/mru
	url = http://github.com/vim-scripts/mru.vim.git
[submodule "bundle/fencview"]
	path = bundle/fencview
	url = http://github.com/vim-scripts/FencView.vim.git
[submodule "bundle/UltraBlog"]
	path = bundle/UltraBlog
	url = https://github.com/vim-scripts/UltraBlog.git
	ignore = dirty
[submodule "bundle/pyflakes-vim"]
	path = bundle/pyflakes-vim
	url = https://github.com/vim-scripts/pyflakes.vim.git
	ignore = dirty
[submodule "bundle/pydoc-vim"]
	path = bundle/pydoc-vim
	url = https://github.com/vim-scripts/pydoc.vim.git
[submodule "bundle/Tagbar"]
	path = bundle/Tagbar
	url = https://github.com/vim-scripts/Tagbar.git
	ignore = dirty

[submodule "bundle/FuzzyFinder"]
	path = bundle/FuzzyFinder
	url = https://github.com/vim-scripts/FuzzyFinder.git
	ignore = dirty
[submodule "bundle/L9"]
	path = bundle/L9
	url = https://github.com/vim-scripts/L9.git
	ignore = dirty
